
* {
    margin: 0;
    padding: 0;
}
body {
  font-family: 'Be Vietnam Pro', sans-serif;
}

/*-------------Header-----------*/
.navbar{
    .links {
    color: black;
    }
}

header {
  position: relative;
  z-index: 1;
}
header {
  background: url("../images/bg-tablet-pattern.svg") no-repeat; 
  width: 100%;
  background-size: 41% 60%;
  background-position: top -21% right -3%;
}

main::before {
content: "";
position: absolute;
background-image: url("../images/bg-tablet-pattern.svg"); 
background-repeat: no-repeat;
top: 110%;
left: -30%;
width: 100%;
height:100%;
background-size: 50%;
}

p {
    font-size: 12px;
    color: gray;
}
/*-------------main-----------*/

.about-manage {
    margin-bottom: 10%;
    h6 {
        margin-left: -75px;
    }
    span{
        padding: 5px 15px;
        margin-right: 20px;
        border-radius: 2em;
        background: hsl(12, 88%, 59%);
    }
}

.Carousel {
    display: none;
}

.card-1 {
  margin-bottom: 10%;

  img {
    margin-top: -75px;
  }
  .card {
    padding: 10%;
    background: hsl(0, 0%, 98%);
  }
}

input, a {
    border-radius: 2em;
}

.input-text {
    font-size: 12px;
    width: 60%;
}

.input {
    background: hsl(12, 88%, 59%);
}

.ancher:hover {
    color: white;
    opacity: 0.75;
}

.ad {
  .ancher {
      margin-left: 20%;
  }
}

.ancher {
    text-decoration: none;
    color: white;
    background: hsl(12, 88%, 59%);
}
.orange-row {
    position:relative;
    z-index: 1;
    color: white;
    background: hsl(12, 88%, 59%);
    .ancher {
        color: hsl(12, 88%, 59%);
        background: white;
    }
}
    .orange-row::before {
        content: "";
        position: absolute;
        top: -5%; 
        left: -8%;
        width: 100%; 
        height: 100%;
        opacity: 20%; 
        z-index: -1;
        background: url(../images/bg-tablet-pattern.svg);
        background-repeat: no-repeat;
      }
      /*-------------footer-----------*/
footer {
  background:hsl(233, 12%, 13%);
  .footer-container{
  margin-top: 2%;
  .icons{
    margin-top: 15%;
  }
  .footer-info{
    display: flex;
    justify-content:space-between;
    color: white;
  }
    a{
        font-size: 12px;
        color: white;
    }
  }
  .copyright{
    margin-left: 76%;
    margin-top: -2%;
  }
}
.header-overlay{
  
}
@media (max-width: 375px) { 
  p{
    font-size: 16px;
  }
  /*-------------Header-----------*/

  header {
    background-size: 77% 23%;
    background-position: top -7% right -3%;

    .header-overlay{
      position: absolute;
      inset: 0;
      background: hsl(227, 12%, 61%);
      z-index: -1;
    }



      .collapse.show{

      }
    .navbar {
      margin: 0;
    .ancher {
      display: none;
    }


    }
  
    .manu {
      text-align: center;
      background:white;
      margin: 15% 5%;
    }
  
    .ad {
      display: flex;
      flex-direction: column-reverse;
      h1{
        font-size: 40px;
      }
      p{
        text-align: center
      }
    }
    .profiles {
      display: none;
    }
    .Carousel {
      display: block;
      img{
        width:27%;
      }
      .carousel-inner{
        overflow: visible;
      }
    }

    .about-manage {
      .inner-about-manage{
        text-align: center;
      }
      margin-top: 40%;
        p {
          margin-bottom: 10%;
          line-height: 25px;
        }
        h6 {
          padding: 5px;
          border-top-left-radius: 2em;
          border-bottom-left-radius: 2em;
          margin:auto;
          background: pink;
        }
        span {
            margin-left:-5px; 
        }
    .tablet-pattern-img-1 {
      left: 58%;
      width: 100%;
      z-index: -1;
    }
  }
  /*-------------main-----------*/
  main::before {
    top: 72%;
    left: -30%;
    background-size: 100%;
    right: -59%;
  }

  }
  .orange-row {
    h2 {
      font-size: 35px;
      text-align: center;
    }
  }
  .orange-row::before {
    background-size: 100%;
    left: -75%;
    top: 10%;
  }
/*-------------Header-----------*/
  footer {
    p{
      font-size: 12px;
    }
    .footer-container {
      flex-direction: column-reverse;
    .logo-icons{
      display: flex;
      flex-direction: column-reverse;
    }
    .logo {
      margin-top: 20%;
      margin-left: 25%;
    }
    .icons {
      display: flex;
      justify-content: space-evenly;
      img {
        width: 40px;
      }
    }
    .footer-info {
      display: flex;
      justify-content:space-evenly;
      color: white;
      margin-top: 10%;
    }
    }
    .copyright{
      padding-top: 20%;
      padding-left: 20%;
      margin: auto;
    }
  }
}


@import "../node_modules/bootstrap/scss/bootstrap";


